{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "classProperties"],
  "importOrder": ["^@modules/(.*)$", "^@routes/(.*)$", "^[./]", "^@/(.*)$"]
}
